In [1]:
!pip install gdown

Collecting gdown
  Downloading gdown-4.7.1-py3-none-any.whl (15 kB)
Requirement already satisfied: tqdm in c:\users\shri0\anaconda3\lib\site-packages (from gdown) (4.64.1)
Requirement already satisfied: requests[socks] in c:\users\shri0\anaconda3\lib\site-packages (from gdown) (2.28.1)
Requirement already satisfied: six in c:\users\shri0\anaconda3\lib\site-packages (from gdown) (1.16.0)
Requirement already satisfied: filelock in c:\users\shri0\anaconda3\lib\site-packages (from gdown) (3.9.0)
Requirement already satisfied: beautifulsoup4 in c:\users\shri0\anaconda3\lib\site-packages (from gdown) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\shri0\anaconda3\lib\site-packages (from beautifulsoup4->gdown) (2.3.2.post1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\shri0\anaconda3\lib\site-packages (from requests[socks]->gdown) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shri0\anaconda3\lib\site-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\shri0\anaconda3\lib\site-packages (from requests[socks]->gdown) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shri0\anaconda3\lib\site-packages (from requests[socks]->gdown) (2022.12.7)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\shri0\anaconda3\lib\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in c:\users\shri0\anaconda3\lib\site-packages (from tqdm->gdown) (0.4.6)
Installing collected packages: gdown
Successfully installed gdown-4.7.1

WARNING: Ignoring invalid distribution -rotobuf (c:\users\shri0\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\shri0\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\shri0\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\shri0\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\shri0\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\shri0\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\shri0\anaconda3\lib\site-packages)

In [2]:
import pandas as pd

In [3]:
# https://drive.google.com/file/d/1RP-91x6TL8-w58zrFqWWrbR4A2aApw_l/view?usp=sharing
# https://drive.google.com/file/d/1pqTkifFU7VRJ1rGfAt9V3bZXpKBb-Ij4/view?usp=drive_link
# https://drive.google.com/file/d/1CQcGCeLCdEOtlpOG0ZeWG4MJLzXj8zMA/view?usp=drive_link
# https://drive.google.com/file/d/1wzqux1mIJCwjql2u01a12BDlCd31kU6y/view?usp=drive_link
# https://drive.google.com/file/d/1odt32d0OSfEmUtNGACT84auUG45oXO1b/view?usp=drive_link
# https://drive.google.com/file/d/1x21jPXxrY6xU4IbOxjPQRXRlcj81IZV7/view?usp=drive_link

In [4]:
!gdown 1RP-91x6TL8-w58zrFqWWrbR4A2aApw_l
!gdown 1pqTkifFU7VRJ1rGfAt9V3bZXpKBb-Ij4
!gdown 1CQcGCeLCdEOtlpOG0ZeWG4MJLzXj8zMA
!gdown 1wzqux1mIJCwjql2u01a12BDlCd31kU6y
!gdown 1odt32d0OSfEmUtNGACT84auUG45oXO1b
!gdown 1x21jPXxrY6xU4IbOxjPQRXRlcj81IZV7

Downloading...
From: https://drive.google.com/uc?id=1RP-91x6TL8-w58zrFqWWrbR4A2aApw_l
To: D:\N Renotte DL Projects\Own\flipkart-reviews-extract\final_compress\headphones_on_ear.csv

  0%|          | 0.00/855k [00:00<?, ?B/s]
 61%|######1   | 524k/855k [00:00<00:00, 1.43MB/s]
100%|##########| 855k/855k [00:00<00:00, 1.86MB/s]
Downloading...
From: https://drive.google.com/uc?id=1pqTkifFU7VRJ1rGfAt9V3bZXpKBb-Ij4
To: D:\N Renotte DL Projects\Own\flipkart-reviews-extract\final_compress\Tablets.csv

  0%|          | 0.00/3.69M [00:00<?, ?B/s]
 14%|#4        | 524k/3.69M [00:00<00:02, 1.30MB/s]
 43%|####2     | 1.57M/3.69M [00:00<00:00, 3.56MB/s]
 85%|########5 | 3.15M/3.69M [00:00<00:00, 5.65MB/s]
100%|##########| 3.69M/3.69M [00:00<00:00, 4.84MB/s]
Downloading...
From: https://drive.google.com/uc?id=1CQcGCeLCdEOtlpOG0ZeWG4MJLzXj8zMA
To: D:\N Renotte DL Projects\Own\flipkart-reviews-extract\final_compress\air_conditioners_reviews.csv

  0%|          | 0.00/2.77M [00:00<?, ?B/s]
 19%|#8        | 524k/2.77M [00:00<00:01, 1.34MB/s]
 76%|#######5  | 2.10M/2.77M [00:00<00:00, 4.97MB/s]
100%|##########| 2.77M/2.77M [00:00<00:00, 3.97MB/s]
Downloading...
From: https://drive.google.com/uc?id=1wzqux1mIJCwjql2u01a12BDlCd31kU6y
To: D:\N Renotte DL Projects\Own\flipkart-reviews-extract\final_compress\laptops_flipkart_reviews(Drishti).csv

  0%|          | 0.00/1.19M [00:00<?, ?B/s]
 44%|####3     | 524k/1.19M [00:00<00:00, 1.42MB/s]
100%|##########| 1.19M/1.19M [00:00<00:00, 2.65MB/s]
Downloading...
From: https://drive.google.com/uc?id=1odt32d0OSfEmUtNGACT84auUG45oXO1b
To: D:\N Renotte DL Projects\Own\flipkart-reviews-extract\final_compress\Smart Tv reviews by Lakshay Chaudhary.csv

  0%|          | 0.00/4.80M [00:00<?, ?B/s]
 11%|#         | 524k/4.80M [00:00<00:03, 1.14MB/s]
 33%|###2      | 1.57M/4.80M [00:00<00:00, 3.33MB/s]
 66%|######5   | 3.15M/4.80M [00:00<00:00, 3.96MB/s]
 98%|#########8| 4.72M/4.80M [00:01<00:00, 5.67MB/s]
100%|##########| 4.80M/4.80M [00:01<00:00, 4.55MB/s]
Downloading...
From: https://drive.google.com/uc?id=1x21jPXxrY6xU4IbOxjPQRXRlcj81IZV7
To: D:\N Renotte DL Projects\Own\flipkart-reviews-extract\final_compress\smartphones reviews Arun Sharma.csv

  0%|          | 0.00/2.90M [00:00<?, ?B/s]
 18%|#8        | 524k/2.90M [00:00<00:02, 845kB/s]
 54%|#####4    | 1.57M/2.90M [00:00<00:00, 2.53MB/s]
100%|##########| 2.90M/2.90M [00:00<00:00, 4.68MB/s]
100%|##########| 2.90M/2.90M [00:00<00:00, 3.42MB/s]

In [12]:
ac = pd.read_csv('air_conditioners_reviews.csv')
ac.head(2)

,title,description,reviews,ratings
0,Voltas 1.5 Ton 3 Star Split Inverter AC - Whi...,NaN,Review after 1 month.Best in performance!Pros-...,5
1,Voltas 1.5 Ton 3 Star Split Inverter AC - Whi...,NaN,"Voltas - Damn good AC for the 10x10 room , it ...",5

In [14]:
ac = ac[['reviews', 'ratings']]

In [15]:
hdphn = pd.read_csv('headphones_on_ear.csv')
hdphn.head(2)

,title,description,reviews,ratings
0,boAt Rockerz 510 Super Extra Bass Bluetooth He...,If you are looking for an efficient wireless h...,My one requestüôè plz to all buyers..plz dont re...,5
1,boAt Rockerz 510 Super Extra Bass Bluetooth He...,If you are looking for an efficient wireless h...,genuine review1. sound quality : no issue valu...,5

In [16]:
hdphn = hdphn[['reviews', 'ratings']]
hdphn.head(2)

                                             reviews  ratings
0  My one requestüôè plz to all buyers..plz dont re...        5
1  genuine review1. sound quality : no issue valu...        5

In [17]:
lp = pd.read_csv('laptops_flipkart_reviews(Drishti).csv')
lp.head(2)

,title,description,reviews,ratings
0,ASUS Vivobook 15 Core i3 11th Gen - (8 GB/512 ...,"The outstanding Asus VivoBook 15 laptop, creat...",I had a great expectation with this laptopBut ...,1
1,ASUS Vivobook 15 Core i3 11th Gen - (8 GB/512 ...,"The outstanding Asus VivoBook 15 laptop, creat...",Performance was amezing...üèÜBattery drained ver...,5

In [18]:
lp = lp[['reviews', 'ratings']]
lp.head(2)

                                             reviews  ratings
0  I had a great expectation with this laptopBut ...        1
1  Performance was amezing...üèÜBattery drained ver...        5

In [19]:
tv = pd.read_csv('Smart Tv reviews by Lakshay Chaudhary.csv')
tv.head(2)

,Unnamed: 0,title,description,reviews,ratings
0,0,Mi 5A 80 cm (32 inch) HD Ready LED Smart Andro...,"You can enjoy your favourite movies, catch up ...",First i have to thanks to Flipkart delivered s...,5
1,1,Mi 5A 80 cm (32 inch) HD Ready LED Smart Andro...,"You can enjoy your favourite movies, catch up ...",it very nice mi tv good condition valuable for...,5

In [20]:
tv = tv[['reviews', 'ratings']]
tv.head(2)

                                             reviews  ratings
0  First i have to thanks to Flipkart delivered s...        5
1  it very nice mi tv good condition valuable for...        5

In [21]:
phn = pd.read_csv('smartphones reviews Arun Sharma.csv')
phn.head(2)

,Unnamed: 0,title,description,reviews,ratings
0,0,"POCO C55 (Power Black, 128 GB)¬†¬†(6 GB RAM)",The POCO C55 smartphone features a powerful Me...,The phone is good. But when you play heavy gam...,4
1,1,"POCO C55 (Power Black, 128 GB)¬†¬†(6 GB RAM)",The POCO C55 smartphone features a powerful Me...,Very good mobile.. better speed. awesome CAMER...,5

In [22]:
phn = phn[['reviews', 'ratings']]
phn.head(2)

                                             reviews  ratings
0  The phone is good. But when you play heavy gam...        4
1  Very good mobile.. better speed. awesome CAMER...        5

In [23]:
tb = pd.read_csv('Tablets.csv')
tb.head(2)

,Unnamed: 0,title,description,reviews,ratings
0,0,realme Pad Mini 4 GB RAM 64 GB ROM 8.7 inch wi...,Make your long travel journeys or business tri...,I am Fully satisfied with order purchased on F...,5
1,1,realme Pad Mini 4 GB RAM 64 GB ROM 8.7 inch wi...,Make your long travel journeys or business tri...,Its an overall perfect value product at this p...,4

In [24]:
tb = tb[['reviews', 'ratings']]
tb.head(2)

                                             reviews  ratings
0  I am Fully satisfied with order purchased on F...        5
1  Its an overall perfect value product at this p...        4

In [25]:
final_df = pd.concat([ac, hdphn, lp, tv, phn, tb], ignore_index=True)
final_df.shape

(37850, 2)

In [26]:
ac.shape

(4876, 2)

In [27]:
hdphn.shape

(2003, 2)

In [28]:
lp.shape

(1831, 2)

In [29]:
tv.shape

(19800, 2)

In [30]:
phn.shape

(3950, 2)

In [31]:
tb.shape

(5390, 2)

In [32]:
final_df.to_csv(r'final_data.csv', index=False, header=True)